<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> test1
=======
>>>>>>> f37231b51413aa449c366de214aabaf312833b05
﻿
@using BookingClone.Application.Features.continent.DTOs;
@using BookingClone.Domain.Common;
@using BookingClone.Domain.Entities;
@model PagedList<ContinentDetailsDto>

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f37231b51413aa449c366de214aabaf312833b05
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Continent List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Create New Continent
        </a>
    </div>
</div>
<div class="p-1 border rounded">
    @if (Model.Data.Any())
    {
        <table class="table table-striped border">
            <thead>
                <tr class="table-secondary">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f37231b51413aa449c366de214aabaf312833b05

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>

                        <td>
                            @item.Name
                        </td>
                        <td>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">
                                    <i class="bi bi-list"></i>
                                    Details
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">
                                    <i class="bi bi-pen"></i>
                                    Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Data Available</p>
    }
</div>

<<<<<<< HEAD
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
=======
>>>>>>> test1
@{
    ViewData["Title"] = "Index";
}
<<<<<<< HEAD
>>>>>>> salmateest
=======


<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Continent List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Create New Continent
        </a>
    </div>
</div>
=======
>>>>>>> countryview

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>

                        <td>
                            @item.Name
                        </td>
                        <td>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">
                                    <i class="bi bi-list"></i>
                                    Details
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">
                                    <i class="bi bi-pen"></i>
                                    Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Data Available</p>
    }
</div>

<<<<<<< HEAD
<div class="contanier">
    <table class="table table-striped border">
        <thead>
            <tr class="table-secondary">
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Data)
            {
                <tr>
                    <td><h5>@item.Name </h5> </td>

                    <td>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">
                                <i class="bi bi-list"></i>
                                Details
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">
                                <i class="bi bi-pen"></i>
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
>>>>>>> test1
=======
>>>>>>> countryview
=======
>>>>>>> f37231b51413aa449c366de214aabaf312833b05
